In [20]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 300)

df=(pd.read_csv(r"C:\LABS\Week8\Mezcal-final\data\processed\clean_mezcal_full.csv"))

df.head(20)

    Year  Production_liters  YoY_Pct  Export_Liters  National_Liters  Total_Bottling  Export_Share_Pct  National_Share_Pct  Employment      Brands  Certified_Producers
0   2011             980375      NaN         647989           270426          918415             70.56               29.44         NaN         NaN                  NaN
1   2012            1044696     6.56         768014           317803         1085817             70.73               29.27         NaN         NaN                  NaN
2   2013            2519568   141.18         914317           800002         1714319             53.33               46.67         NaN         NaN                  NaN
3   2014            1451718   -42.38        1157420           924686         2082106             55.59               44.41         NaN         NaN                  NaN
4   2015            2419175    66.64        1480263          1508839         2989102             49.52               50.48         NaN         NaN                  NaN
5   2016            3028000    25.17        2013184          1854840         3868024             52.05               47.95         NaN         NaN                  NaN
6   2017            3985221    31.61        2801830          2095934         4897764             57.21               42.79         NaN         NaN                  NaN
7   2018            5089667    27.71        3422291          2491909         5914200             57.87               42.13         NaN         NaN                  NaN
8   2019            7145039    40.38        4700987          2740212         7441199             63.18               36.82         NaN         NaN                  NaN
9   2020            7846251     9.81        4764184          2391480         7155664             66.58               33.42         NaN         NaN                  NaN
10  2021            8099591     3.23        5102520          3684458         8786978             58.07               41.93         NaN  64724341.0               3960.0
11  2022           14165505    74.89        8786978          8786978        17573956             50.00               50.00    128000.0  29824414.0               5659.0
12  2023           12239655   -13.60        6911800          5327864        12239664             56.47               43.53    128000.0  30216849.0               5700.0
13  2024           11362436    -7.17        7574530          3793310        11367840             66.63               33.37    128000.0  30997329.0               5800.0

In [22]:
print(df.head(20).to_string(index=False))

 Year  Production_liters  YoY_Pct  Export_Liters  National_Liters  Total_Bottling  Export_Share_Pct  National_Share_Pct  Employment     Brands  Certified_Producers
 2011             980375      NaN         647989           270426          918415             70.56               29.44         NaN        NaN                  NaN
 2012            1044696     6.56         768014           317803         1085817             70.73               29.27         NaN        NaN                  NaN
 2013            2519568   141.18         914317           800002         1714319             53.33               46.67         NaN        NaN                  NaN
 2014            1451718   -42.38        1157420           924686         2082106             55.59               44.41         NaN        NaN                  NaN
 2015            2419175    66.64        1480263          1508839         2989102             49.52               50.48         NaN        NaN                  NaN
 2016            3028000    25.17        2013184          1854840         3868024             52.05               47.95         NaN        NaN                  NaN
 2017            3985221    31.61        2801830          2095934         4897764             57.21               42.79         NaN        NaN                  NaN
 2018            5089667    27.71        3422291          2491909         5914200             57.87               42.13         NaN        NaN                  NaN
 2019            7145039    40.38        4700987          2740212         7441199             63.18               36.82         NaN        NaN                  NaN
 2020            7846251     9.81        4764184          2391480         7155664             66.58               33.42         NaN        NaN                  NaN
 2021            8099591     3.23        5102520          3684458         8786978             58.07               41.93         NaN 64724341.0               3960.0
 2022           14165505    74.89        8786978          8786978        17573956             50.00               50.00    128000.0 29824414.0               5659.0
 2023           12239655   -13.60        6911800          5327864        12239664             56.47               43.53    128000.0 30216849.0               5700.0
 2024           11362436    -7.17        7574530          3793310        11367840             66.63               33.37    128000.0 30997329.0               5800.0